<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC CUISINE</title>
    <link rel="stylesheet" href="/styles/pages/persionalized/personalized-step-1.css">
    <link rel="stylesheet" href="/fonts/config/roboto.css">
    <link rel="stylesheet" href="/fonts/config/raleway.css">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/images/global/logo_black.svg" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div class="container">
        <div id="menu-bar"></div>
        <div class="content-container">
            <div class="title">
                Bạn yêu thích nền ẩm thực của nước nào?
            </div>
            <div class="list-option-container">
                <ul class="list-option" onclick="location.href='personalized-step-2.htm'">
                    <li class="item item-1">
                        <div class="option">
                            VIỆT NAM
                        </div>
                    </li>
                    <li class="item item-2">
                        <div class="option">
                            HÀN QUỐC
                        </div>
                    </li>
                    <li class="item item-3">
                        <div class="option">
                            PHÁP
                        </div>
                    </li>
                    <li class="item item-4">
                        <div class="option">
                            TRUNG QUỐC
                        </div>
                    </li>
                    <li class="item item-5">
                        <div class="option">
                            MỸ
                        </div>
                    </li>
                    <li class="item item-6">
                        <div class="option">
                            NHẬT BẢN
                        </div>
                    </li>
                </ul>
            </div>
            <div class="next-button-container">
                <button class="button next-button" onclick="location.href='personalized-step-2.htm'">
                    TIẾP THEO
                </button>
            </div>
        </div>
    </div>
    <script src="/src/load-menu-bar.js"></script>

</body>

</html>