<link rel="stylesheet" href="/styles/partials/menu_bar.css">
<link rel="stylesheet" href="/fonts/config/roboto.css">
<link rel="stylesheet" href="/images/fonts awsome icon/css/all.min.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>

<div class="container-menu-bar">
    <img class="logo-menu-bar" src="/images/global/logo_black.svg" alt="logo" onclick="location.href='news.htm'">
    <div class="menu-bar">
        <ul class="menu">
            <li class="item home"><a onclick="location.href='news.htm'" href="#">HOME</a></li>
            <li class="item recipes"><a href="#">RECIPES</a></li>
            <li class="item articles"><a href="#">ARTICLES</a></li>
            <li class="item myfeed"><a onclick="location.href='profile.htm'" href="#">MY FEED</a></li>
            <li class="item aboutus"><a href="#">ABOUT US</a></li>
            <li class="item login"><a onclick="location.href='login.htm'" href="#">ĐĂNG NHẬP</a></li>
            <li class="item direct">
                <div class="direct-container">
                    <div class="icon cart-icon"><i class="fas fa-shopping-cart"></i></div>
                    <div class="icon search-icon"><i class="fas fa-search"></i></div>
                </div>
            </li>
        </ul>
    </div>
</div>