body {    
    font-family: "roboto-regular";
}

.menu-bar-container{
    margin: 0 auto;
    width: 80%;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 900px;
    margin-top: 5rem;
}

.image {
    background-image: url(/images/pages/login_signup/login_signup.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    grid-column-end: 6;
    grid-column-start: 1;
    /* border: red solid 1px; */
}

.move-signup-container {
    background-color: #DEF5C5;
    /* border: red solid 1px; */
    float: right;
    padding: 5px;
}

.button-move-signup {
    background-color: transparent;
    border: black solid 1px;
    cursor: pointer;
    font-family: "roboto-bold";
    font-size: 20px;
    letter-spacing: 3px;
    padding: 20px 25px;
}

.button-move-signup::after {
    content: url(/images/pages/login_signup/arrow_right.svg);
    margin-left: 5px;
}

.login {
    /* background-color: aquamarine; */
    /* border: red solid 5px; */
    display: grid;
    grid-column-end: 13;
    grid-column-start: 6;
    grid-template-columns: repeat(7, 1fr);   
}

.login-container {
    /* border: red solid 1px; */
    grid-column-end: 7;
    grid-column-start: 2;
    margin: auto 0;
}

.title-section {
    /* border: red solid 1px;     */
}

.title {
    /* border: red solid 1px; */
    font-family: "roboto-bold";
    font-size: 82px;
}

.description {
    /* border: red solid 1px; */
    font-size: 20px;
    margin-top: 20px;
}

.authentication-section {
    /* border: red solid 1px; */
    grid-column-end: 6;
    grid-column-start: 2;
    margin-top: 70px;
}

.input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 40px;
    outline: 0;
    width: 100%;
}

.input::-webkit-input-placeholder {
    color: black;
}

.verify-section {
    /* border: red solid 1px; */
    display: grid;
    font-size: 15px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.save-login-section {
    /* border: red solid 1px; */
}

.checkbox {
    cursor: pointer;
}

.forget-password-section {
    /* border: red solid 1px; */
}

.forget-password {
    color: black;
    float: right;
}

.save-login {
    /* border: red solid 1px; */
}

.login-button-section {
    /* border: red solid 1px; */
    margin-top: 50px;
    text-align: center;
}

.login-button {
    background-color: black;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: "roboto-bold";
    font-size: 15px;
    padding: 10px 50px;
}

