* {
    background-color: #FCEBE6;
}

.container {
    /* border: red solid 1px; */
    margin: 0 auto;
    width: 80%;
}

.content-container {
    /* border: red solid 1px; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.news-content-container {
    /* border: red solid 1px; */
    grid-column-end: 8;
    grid-column-start: 2;
    margin-top: 2rem;
}

.news-content-container .date-time {
    /* border: red solid 1px; */
    font-family: "roboto-light";
    font-size: 0.75rem;   
}

.news-content-container .title {
    /* border: red solid 1px; */
    font-family: "roboto-bold";
    font-size: 2rem;
    margin-top: 1rem;
}

.news-content-container .main-content-container .paragraph-container {
    /* border: red solid 1px; */
    margin: 1.25rem 0;
}   

.news-content-container .main-content-container .paragraph-container .sub-title {
    /* border: red solid 1px; */
    font-family: "roboto-medium";
    margin: 2rem 0;
}

.news-content-container .main-content-container .paragraph-container .content {
    /* border: red solid 1px; */
    font-family: "roboto-light";
}

.news-content-container .main-content-container .paragraph-container .image-container {
    /* border: red solid 1px; */
    column-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 15rem;
}

.news-content-container .main-content-container .paragraph-container .image-container img.image {
    /* border: red solid 1px; */
    display: block;
    grid-column: 1/-1;
    height: inherit;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.news-content-container .main-content-container .paragraph-container .image-container img.image.item-1 {
    /* border: red solid 1px; */
    grid-column-end: 3;
    grid-column-start: 1;
}

.news-content-container .main-content-container .paragraph-container .image-container img.image.item-2 {
    /* border: red solid 1px; */
    grid-column-end: 5;
    grid-column-start: 3;
}

.news-content-container .main-content-container .paragraph-container .image-container img.image.item-3 {
    /* border: red solid 1px; */
    grid-column-end: 7;
    grid-column-start: 5;
}

.news-content-container .author {
    /* border: red solid 1px; */
    float: right;
    font-family: "roboto-bold";
}

.relate-post-container {
    /* border: red solid 1px; */
    grid-column-end: 13;
    grid-column-start: 10;
}

.relate-post-container .title-container {
    /* border: red solid 1px; */
    font-family: "raleway-bold";
    margin-top: 1rem;
}

.relate-post-container .list-item-container {
    /* border: red solid 1px; */
}

.relate-post-container .list-item-container ul.list-item {
    /* border: red solid 1px; */
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.relate-post-container .list-item-container ul.list-item li.item {
    background-color: #FDF2EF;
    /* border: red solid 1px; */
    border-radius: 10px;
    box-shadow: 0px 40px 70px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 6rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.relate-post-container .list-item-container ul.list-item li.item .image-container {
    /* border: red solid 1px; */
    grid-column-end: 3;
    grid-column-start: 1;
    height: inherit;
}

.relate-post-container .list-item-container ul.list-item li.item .image-container img.image {
    /* border: red solid 1px; */
    display: block;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.relate-post-container .list-item-container ul.list-item li.item .information-container {
    background-color: inherit;
    /* border: red solid 1px; */
    grid-column-end: 8;
    grid-column-start: 3;
    margin: 0.5rem;
}


.relate-post-container .list-item-container ul.list-item li.item .information-container .title {
    background-color: inherit;
    /* border: red solid 1px; */
    font-family: "roboto-bold";
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.relate-post-container .list-item-container ul.list-item li.item .information-container .description {
    background-color: inherit;
    /* border: red solid 1px; */
    display: block;
    font-family: "roboto-light";
    font-size: 0.75rem;
    margin-top: 0.5rem;
    overflow: hidden;
}