* {
    background-color: #FCEBE6;
}

.container {
    /* border: red solid 1px; */
    margin: 0 auto;
    width: 80%;
}

.content-container {
    /* border: red solid 1px; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 35rem;
}

.news-container {
    display: grid;
    grid-column-end: 10;
    grid-column-start: 1;
    grid-template-columns: repeat(9, 1fr);
    height: inherit;
    /* border: red solid 1px; */
    margin-top: 2rem;
}

.news-container .image-container {
    /* border: red solid 1px; */
    grid-column-end: 4;
    grid-column-start: 1;
    height: inherit;
}

.news-container .image-container img.image {
    /* border: red solid 1px; */
    display: block;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.news-container .news-information {
    /* border: red solid 1px; */
    grid-column-end: 9;
    grid-column-start: 4;
    margin-left: 3rem;
    position: relative;
}

.news-container .news-information .title {
    /* border: red solid 1px; */
    font-family: "raleway-bold";
    margin-top: 2rem;
}

.news-container .news-information .heading {
    /* border: red solid 1px; */
    font-family: "raleway-bold";
    font-size: 3rem;
    margin-top: 2rem;
}

.news-container .news-information .description {
    /* border: red solid 1px; */
    font-family: "roboto-light";
    margin-top: 1rem;
}

.news-container .news-information .more-button-container {
    /* border: red solid 1px; */
    bottom: 0;
    position: absolute;
}

.news-container .news-information button.more-button {
    background-color: transparent;
    background-color: black;
    /* border: red solid 1px; */
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-family: "roboto-bold";
    font-size: 15px;
    padding: 10px 50px;
}

.relate-post-container {
    /* border: red solid 1px; */
    grid-column-end: 13;
    grid-column-start: 10;
}

.relate-post-container .title-container {
    /* border: red solid 1px; */
    font-family: "raleway-bold";
    margin-top: 1rem;
}

.relate-post-container .list-item-container {
    /* border: red solid 1px; */
}

.relate-post-container .list-item-container ul.list-item {
    /* border: red solid 1px; */
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.relate-post-container .list-item-container ul.list-item li.item {
    background-color: #FDF2EF;
    /* border: red solid 1px; */
    border-radius: 10px;
    box-shadow: 0px 40px 70px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 6rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.relate-post-container .list-item-container ul.list-item li.item .image-container {
    /* border: red solid 1px; */
    grid-column-end: 3;
    grid-column-start: 1;
    height: inherit;
}

.relate-post-container .list-item-container ul.list-item li.item .image-container img.image {
    /* border: red solid 1px; */
    display: block;
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.relate-post-container .list-item-container ul.list-item li.item .information-container {
    background-color: inherit;
    /* border: red solid 1px; */
    grid-column-end: 8;
    grid-column-start: 3;
    margin: 0.5rem;
}


.relate-post-container .list-item-container ul.list-item li.item .information-container .title {
    background-color: inherit;
    /* border: red solid 1px; */
    font-family: "roboto-bold";
    font-size: 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.relate-post-container .list-item-container ul.list-item li.item .information-container .description {
    background-color: inherit;
    /* border: red solid 1px; */
    display: block;
    font-family: "roboto-light";
    font-size: 0.75rem;
    margin-top: 0.5rem;
    overflow: hidden;
}