
.container {
    border: red solid 1px;
    margin: 0 auto;
    width: 80%;
}

.content-container {
    border: red solid 1px;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr); */
    margin-top: 5rem;
}

.review-slide-container { 
    border: red solid 1px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr 3fr 1fr 1fr 2fr;
    grid-template-rows: 5rem 2rem auto 5rem;
}