.container-menu-bar {
    /* border: red solid 1px; */
    margin: 0 auto;
}

.container-menu-bar::after {
    clear: both;
    content: "";
    display: table;
}

.logo-menu-bar {
    cursor: pointer;
    /* border: red solid 1px; */
    float: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 5rem;
}

.menu-bar {
    /* border: red solid 1px; */
    float: right;
}

.menu-bar ul.menu {
    border-top: #555555 solid 2px;
    list-style: none;
}

.menu-bar ul.menu .item {
    /* border: red solid 1px; */
    display: inline-block;
    margin-left: 40px;
    padding: 15px;
}

.menu-bar ul.menu .item a {
    color: black;
    font-family: "roboto-light";
    text-decoration: none;
}

.menu-bar ul.menu .direct-container .icon {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25rem;
}