@font-face {
   font-family: "roboto-medium";
   src: url(/fonts/src/Roboto/Roboto-Medium.ttf);
}
 
@font-face {
   font-family: "roboto-regular";
   src: url(/fonts/src/Roboto/Roboto-Regular.ttf);
}

@font-face {
   font-family: "roboto-bold";
   src: url(/fonts/src/Roboto/Roboto-Bold.ttf);
}

@font-face {
   font-family: "roboto-light";
   src: url(/fonts/src/Roboto/Roboto-Light.ttf);
}