<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC CUISINE</title>
    <link rel="stylesheet" href="/styles/pages/login.css">
    <link rel="stylesheet" href="/fonts/config/roboto.css">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/images/global/logo_black.svg" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div class="menu-bar-container">
        <div id="menu-bar"></div>
    </div>
    <div class="container">
        <div class="image">
            <div class="move-signup-container">
                <button class="button-move-signup" type="button" onclick="location.href='signup.htm'">
                    ĐĂNG KÝ
                </button>
            </div>
        </div>
        
        <div class="login">
            <div class="login-container">
                <div class="title-section">
                    <div class="title">
                        ĐĂNG NHẬP
                    </div>
                    <div class="description">
                        Chào mừng bạn đến với Magic Cuisine!
                    </div>
                </div>
                
                <div class="authentication-section">
                    <input type="text" class="input username" placeholder="EMAIL">
                    <input type="password" class="input password" placeholder="MẬT KHẨU">
                </div>
                <div class="verify-section">
                    <div class="save-login-section">
                        <input type="checkbox" class="checkbox save-login" name="save-login">
                    <label for="save-login">Ghi nhớ phiên đăng nhập</label>
                    </div>
                    <div class="forget-password-section">
                        <a href="#" class="forget-password">Quên mật khẩu?</a>
                    </div>
                </div>
                <div class="login-button-section">
                    <button class="login-button" onclick="location.href='personalized/personalized-step-1.htm'">
                        ĐĂNG NHẬP
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="/src/load-menu-bar.js"></script>

</body>

</html>