<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC CUISINE</title>
    <link rel="stylesheet" href="/styles/pages/news-content.css">
    <link rel="stylesheet" href="/fonts/config/roboto.css">
    <link rel="stylesheet" href="/fonts/config/raleway.css">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/images/global/logo_black.svg" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div class="container">
        <div id="menu-bar"></div>
        <div class="content-container">
            <div class="news-content-container">
                <div class="date-time">
                    10/7/2021
                </div>
                <div class="title">
                    ẨM THỰC VIỆT NAM TỪNG BƯỚC CHINH PHỤC THẾ GIỚI
                </div>
                <div class="main-content-container">
                    <div class="paragraph-container">
                        <div class="sub-title">
                            Món ăn Việt ngày càng được nhiều quốc gia trên thế giới biết đến. Điều đó càng được khẳng
                            định,
                            khi tháng 8/2012 vừa qua tại Faridabad, Ấn Độ, Tổ chức Kỷ lục châu Á đã chính thức công nhận
                            và
                            xác lập 12 món ăn Việt Nam đạt tiêu chí “Giá trị Ẩm thực châu Á”.
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="content">
                            Món ăn Việt về khẩu vị nói chung không thiên lệch quá về một cực nào nên dễ hợp khẩu vị
                            nhiều
                            dân tộc. Món Việt cũng không nhiều dầu mỡ quá như món ăn Hoa, không dùng gia vị “mạnh” quá
                            như
                            món ăn Ấn Độ, không thiên về bơ, sữa như món ăn Âu… Món ăn miền Bắc thường là những món nấu
                            như:
                            phở, miến, bún thang, bún mọc… do nước dùng của các món nấu miền Bắc thường tinh tế, thuần
                            nhất
                            về mùi vị; nếu bò thì chỉ toàn là xương, thịt bò; nếu là gà thì cũng vậy.
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="image-container">
                            <img src="/images/pages/news-content/item-1.jpg" alt="item 1" class="image item-1">
                            <img src="/images/pages/news-content/item-2.jpg" alt="item 2" class="image item-2">
                            <img src="/images/pages/news-content/item-3.jpg" alt="item 3" class="image item-3">
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="content">
                            Còn món ăn miền Trung, đặc biệt là món ăn Huế, có một vị trí quan trọng trong nền văn hóa ẩm
                            thực của Việt Nam thiên về tính đa vị, phối hợp rất nhiều nguyên liệu lẫn gia vị. Món ăn
                            miền
                            Nam thì thường có ưu điểm nhiều rau như các món gỏi, cuốn; món nướng thường được phối nhiều
                            gia
                            vị khác nhau cho các nguyên liệu như thịt, hải sản, gia cầm… nên rất hấp dẫn người ăn do mùi
                            thơm mỗi món rất khác nhau.
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="content">
                            Hầu như tất cả những món ăn Việt đều có thể tìm thấy ở những quán cóc, xe đẩy trên hè phố
                            hoặc
                            những quán ăn lớn, nhỏ bên đường, đầu ngõ, hẻm, những nhà hàng khách sạn sang trọng bậc
                            nhất…
                            Thực khách thì đủ già trẻ, nam nữ, ông tây, bà đầm, những cô cậu thanh niên Hàn Quốc, Nhật
                            Bản,
                            cả các chính khách, minh tinh của thế giới… tất cả đều thích thú, trầm trồ bên tô phở, đĩa
                            nem,
                            bát bún…
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="image-container">
                            <img src="/images/pages/news-content/item-4.jpg" alt="item 4" class="image">
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="content">
                            Martin Yan (Yan Can Cook) là một đầu bếp lừng danh, cũng là nhân vật chính đầy hài hước và
                            cuốn
                            hút trong chương trình truyền hình Yan Can Cook từng chia sẻ, món ăn Việt Nam rất đặc biệt,
                            rất
                            tốt cho sức khỏe, lúc nào cũng tươi. Bạn ăn như thế nào thì con người bạn sẽ thể hiện ra như
                            vậy. Bạn nhìn xem, người Việt Nam, đặc biệt là phụ nữ rất mảnh dẻ và trông lúc nào cũng tươi
                            tắn, đầy sức sống… Chả giò, sau đó là phở – món ăn trứ danh của người Việt Nam ai cũng yêu
                            thích
                            trong đó có Yan Can Cook.
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="content">
                            Đến Việt Nam du lịch, làm việc họ tìm và học nấu ăn để có thể tự tay chế biến. “Nếu hỏi tôi
                            điều
                            gì khiến tôi yêu thích nhất khi tới Việt Nam thì tôi sẽ trả lời ngay rằng đó chính là các
                            món
                            ăn. Ở bất cứ nơi nào trên thế giới cũng có heo, bò, gà, vịt, hải sản… nhưng món ăn của mỗi
                            quốc
                            gia, mỗi vùng miền đều có những đặc trưng riêng, khác nhau do cách sử dụng gia vị, khẩu vị
                            cũng
                            như cách nấu đã quyết định nên phong cách ẩm thực của nơi đó. Tôi phải học một số món ăn
                            Việt
                            Nam để khi không ở đây vẫn có thể tự làm để thưởng thức và tôi dự định sẽ đem một số món ăn
                            Việt
                            như phở, chả giò vào trong thực đơn của nhà hàng mình ở Anh”- Daniel Roux một chuyên gia ẩm
                            thực
                            của Anh chia sẻ.
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="image-container">
                            <img src="/images/pages/news-content/item-1.jpg" alt="item 1" class="image">
                        </div>
                    </div>
                    <div class="paragraph-container">
                        <div class="content">
                            Khẳng định những giá trị về văn hóa ẩm thực Việt Nam từ năm 2010, Tổ chức Kỷ lục Việt Nam đã
                            triển khai Hành trình quảng bá ẩm thực và đặc sản Việt Nam, tìm kiếm kỷ lục ẩm thực và đề cử
                            đến
                            Tổ chức Kỷ lục ASEAN, Tổ chức kỷ lục châu Á và Tổ chức kỷ lục thế giới Guinness, góp phần
                            làm
                            cho ẩm thực Việt Nam được thế giới biết đến nhiều hơn nữa. Kết quả, tháng 8/2012 vừa qua tại
                            Faridabad, Ấn Độ – Tổ chức kỷ lục châu Á đã chính thức công nhận và xác lập 12 món ăn Việt
                            Nam
                            do Tổ chức kỷ lục Việt Nam đề cử theo bộ tiêu chí xác lập “Giá trị ẩm thực châu Á” của Tổ
                            chức
                            kỷ lục châu Á qui định
                        </div>
                    </div>
                </div>
                <div class="author">
                    Tác giả
                </div>
            </div>
            <div class="relate-post-container">
                <div class="title-container">
                    BÀI VIẾT LIÊN QUAN
                </div>
                <div class="list-item-container">
                    <ul class="list-item">
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/news/relate-post/item-1.jpg" alt="item 1" class="image">
                            </div>
                            <div class="information-container">
                                <div class="title">
                                    LOREM IPSUM DOLOR SIT.
                                </div>
                                <div class="description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga molestiae
                                    eligendi ea, odit nobis!
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/news/relate-post/item-2.jpg" alt="item 2" class="image">
                            </div>
                            <div class="information-container">
                                <div class="title">
                                    LOREM IPSUM DOLOR SIT.
                                </div>
                                <div class="description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga molestiae
                                    eligendi ea, odit nobis!
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/news/relate-post/item-3.jpg" alt="item 3" class="image">
                            </div>
                            <div class="information-container">
                                <div class="title">
                                    LOREM IPSUM DOLOR SIT.
                                </div>
                                <div class="description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga molestiae
                                    eligendi ea, odit nobis!
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/news/relate-post/item-4.jpg" alt="item 4" class="image">
                            </div>
                            <div class="information-container">
                                <div class="title">
                                    LOREM IPSUM DOLOR SIT.
                                </div>
                                <div class="description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga molestiae
                                    eligendi ea, odit nobis!
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/news/relate-post/item-3.jpg" alt="item 3" class="image">
                            </div>
                            <div class="information-container">
                                <div class="title">
                                    LOREM IPSUM DOLOR SIT.
                                </div>
                                <div class="description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga molestiae
                                    eligendi ea, odit nobis!
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/news/relate-post/item-2.jpg" alt="item 2" class="image">
                            </div>
                            <div class="information-container">
                                <div class="title">
                                    LOREM IPSUM DOLOR SIT.
                                </div>
                                <div class="description">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga molestiae
                                    eligendi ea, odit nobis!
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/src/load-menu-bar.js"></script>

</body>

</html>