<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC CUISINE</title>
    <link rel="stylesheet" href="/styles/pages/profile.css">
    <link rel="stylesheet" href="/fonts/config/roboto.css">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/images/global/logo_black.svg" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div class="container">
        <div id="menu-bar"></div>
        <div class="content-container">
            <div class="user-container">
                <div class="avatar-container">
                    <img class="user-avatar" src="/images/pages/profile/user_avatar.jpg" alt="user_avatar">
                </div>
                <div class="description-container">
                    <div class="name">
                        Skyler Meo
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates unde earum amet facere quis
                        natus mollitia ipsum. Eos dolorem maiores voluptatibus rem voluptatum, tenetur provident cumque
                        nam totam tempore numquam eius, ducimus laboriosam aperiam accusantium dolores. Quia sequi error
                        autem minus ea unde optio quasi, aliquid similique molestias provident dolore.
                    </div>
                    <div class="social-media-icon">
                        <div class="icon facebook">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                        </div>
                        <div class="icon instagram">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="icon snapchat">
                            <a href="#"><i class="fab fa-snapchat"></i></a>
                        </div>
                        <div class="icon pinterest">
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-space-container">
                <div class="options-user-space">
                    <div class="option saved-recipes">
                        <a href="#">SAVED RECIPES</a>
                    </div>
                    <div class="option preferences">
                        <a href="#">PREFERENCES</a>
                    </div>
                    <div class="option setting">
                        <a href="#">SETTING</a>
                    </div>
                </div>
            </div>
            <div class="all-recipes-container">
                <div class="title">
                    All Recipes
                </div>
                <div class="empty-description">
                    <a href="#">Click here to add some recipes</a>
                </div>
            </div>
            <div class="collection-container">
                <div class="head-collection">
                    <div class="title">
                        Collection
                    </div>
                    <div class="sorter">
                        <div class="content">
                            Last created
                        </div>
                        <div class="chervon">
                            <a href="#"><i class="fas fa-chevron-down"></i></a>
                        </div>
                    </div>
                </div>
                <div class="content-collection">
                    <ul class="list-item">
                        <li class="item">
                            <div class="image-container" style="background-color: #E5E5E5;">

                            </div>
                            <div class="description-container">

                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-1.jpg" alt="item 1">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Breakfast
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-2.jpg" alt="item 2">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Brunch
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-3.jpg" alt="item 3">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Dinner
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-4.jpg" alt="item 4">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Italian Food
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-5.jpg" alt="item 5">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Sweet
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-6.jpg" alt="item 6">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Brunch
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="image-container">
                                <img src="/images/pages/profile/collection_item/item-7.jpg" alt="item 7">
                            </div>
                            <div class="description-container">
                                <div class="name">
                                    Dinner
                                </div>
                                <div class="description">
                                    0 recipes
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/src/load-menu-bar.js"></script>
</body>

</html>