<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGIC CUISINE</title>
    <link rel="stylesheet" href="/styles/pages/signup.css">
    <link rel="stylesheet" href="/fonts/config/roboto.css">
    <link rel="icon" type="image/svg+xml" sizes="any" href="/images/global/logo_black.svg" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body>
    <div class="menu-bar-container">
        <div id="menu-bar"></div>
    </div>
    <div class="container">
        <div class="signup">
            <div class="signup-container">
                <div class="title-section">
                    <div class="title">
                        ĐĂNG KÝ
                    </div>
                    <div class="description">
                        Chào mừng bạn đến với Magic Cuisine!
                    </div>
                </div>
                <div class="authentication-section">
                    <input type="text" class="input username" placeholder="EMAIL">
                    <input type="password" class="input password" placeholder="MẬT KHẨU">
                    <input type="password" class="input retype-password" placeholder="XÁC NHẬN MẬT KHẨU">
                </div>
                <div class="signup-button-section">
                    <button class="signup-button" onclick="location.href='personalized/personalized-step-1.htm'">
                        ĐĂNG KÝ
                    </button>
                </div>
                <div class="social-media-icon-container">
                    <img onclick="window.open('https://www.facebook.com/')" class="icon facebook-icon"
                        src="/images/pages/login_signup/facebook_icon.svg" alt="facebook icon">
                    <img onclick="window.open('https://www.instagram.com/')" class="icon instagram-icon"
                        src="/images/pages/login_signup/instagram icon.svg" alt="instagram icon">
                    <img onclick="window.open('https://www.pinterest.com/')" class="icon pinterest-icon"
                        src="/images/pages/login_signup/pinterest icon.svg" alt="pinterest icon">
                </div>
                <div id="test"></div>
            </div>

        </div>
        <div class="image">
            <div class="move-login-container">
                <button class="button-move-login" type="button" onclick="location.href='login.htm'">
                    ĐĂNG NHẬP
                </button>
            </div>
        </div>
    </div>
    <script src="/src/load-menu-bar.js"></script>
</body>
</html>